.Card {
  background-color: #fff;
  @include card-frame;
  padding: 20px;
  .title {
    font-size: 16px;
    font-weight: 500;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    .count {
      font-size: 18px;
      font-weight: 500;
    }
  }
}