.Search {
  margin-bottom: 20px;
  .form {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 33.3333%;
      padding: 10px;
    }
    .searchFold {
      display: inline-block;
      max-height:0;
      visibility: none;
      transition-timing-function: ease;
      overflow: hidden;
      transition: 0.5s;
    }
    .searchUnfold {
      max-height:800px;
      transition-timing-function: ease;
      overflow: hidden;
      transition: 0.8s;
    }
  }
  .opts {
    width: 100%;
    @include hor-align;
    button {
      margin: 0 10px;
    }
  }
  .fold {
    margin-top: 2px;
    @include hor-align;
    .foldIcon {
      cursor: pointer;
    }
  }
}