/**
less全局变量 
*/
@mainColor: #3f51b5;
@textColor: #666;
@borderRadious: 8px;
@footerHeight: 100px;
@paddingSize: 15px;
@pageBackgroundColor: #f3f3f3;
a{
  text-decoration: none;
  color: #666;
}

/**
  样式混入
*/
// 盒子居中对齐
.boxAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pagePadding {
  padding: @paddingSize;
}
.noScrollBar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
      width: 0;
      height: 0;
    };
}