.LowCode {
  background-color: rgb(234, 233, 233);
  height: 100vh;
  .headerContainer {
      height: 70px;
      background-color: #fff;
      margin-bottom: 10px;
    }
  
    .mainContainer {
      display: flex;
      justify-content: space-between;
      height: 100%;
  
      .leftContainer {
        width: 300px;
        background-color: #fff;
        padding: 0 10px 10px 10px;
        height: 100%;
      }
  
      .middleContainer {
        width: 600px;
        // background-color: #fff;
        height: 100%;     
      }
  
      .rightContainer {
        width: 300px;
        padding: 20px;
        height: 100%;
        background-color: #fff;
      }
    }
}