.Add {
  padding: @paddingSize;
  background-color: @pageBackgroundColor;
  overflow: hidden;
  .top {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .Title {
      font-size: 40px;
      font-weight: 700;
    }
  }
  .content {
    overflow: scroll;
    .days, .colors {
      margin-top: 30px;
      .title {
        font-size: 33px;
        font-weight: 400;
      }
      .select {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        border-radius: @borderRadious;
        background-color: #ffffff;
        .Days,.Rings {
          width: 100%;
          .boxAlign();
          padding: @paddingSize;
          .selectRing {
            .boxAlign();
            flex-direction: row;
            width: 100%;
            font-size: 50px;
            border-radius: @borderRadious;
            color: #fff;
          }
        }
        button {
          width: 22%;
          margin: 5px calc(12% / 4 / 2);
        }
      }
    }
  }
}
