.Document {
  display: flex;
  gap: 14px;

  .PdfDocument {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    cursor: pointer;

    .filename {
      width: 100px;
      overflow: hidden;
      text-align: justify;
      text-overflow: ellipsis;
      flex-wrap: nowrap;
    }
  }
}

dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;

  &:focus {
    outline: none;
  }

  .PdfDocumentPreview {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    // border-radius: 4px;
    // overflow: hidden;
    &:focus {
      outline: none;
    }

    .topbar {
      display: flex;
      justify-content: end;
      .opt-icon {
        cursor: pointer;
      }
    }

    .PreviewBox {
      flex: 1;
      overflow: auto;
      margin: 0 auto;
      // display: grid;
      // place-content: center;
    }

    .bottombar {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .toolbar {
        display: flex;
        width: fit-content;
        background-color: #000000;
        border-radius: 4px;
        padding: 6px 10px;
        column-gap: 14px;

        .opt-icon {
          cursor: pointer;
        }
        .scale {
          font-size: 14px;
          color: #fff;
          display: grid;
          place-content: center;
          width: 26px;
        }
      }
    }
  }

  &::backdrop {
    // background-color: rgba(0, 0, 0, 0.8) !important;
    // backdrop-filter: blur(0);
    height: 100%;
    width: 100%;
  }
}