.Document {
  display: flex;
  gap: 14px;

  .PdfDocument {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    cursor: pointer;
 
    .filename {
      width: 100px;
      overflow: hidden;
      text-align:center;
      // text-overflow: ellipsis;
      flex-wrap: nowrap;
    }
  }
}

.PdfDocumentPreview {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  row-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  .topbar {
    display: flex;
    justify-content: end;
    .opt-icon {
      cursor: pointer;
    }
  }

  .PreviewBox {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    .preview-wrapper {
      flex: 1;
      width: 100%;
      height: 100%;
      .react-pdf__Page {
        display: flex;
        justify-content: center;
      }
    }
  }

  .bottombar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .toolbar {
      display: flex;
      width: fit-content;
      background-color: #000000;
      border-radius: 4px;
      padding: 6px 10px;
      column-gap: 14px;

      .opt-icon {
        cursor: pointer;
      }
      .scale {
        font-size: 14px;
        color: #fff;
        display: grid;
        place-content: center;
        width: 26px;
      }
    }
  }
}
.VideoPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
